<?xml version="1.0" encoding="utf-8"?>
<dataset>
  <mainmenu>
    <id>1</id>
    <menuid>1010</menuid>
    <menutitle>常规选项</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>站点信息</menutitle>
    <link>global/global_siteset.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>站点优化</menutitle>
    <link>global/global_siteoptimization.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>站点功能</menutitle>
    <link>forum/forum_option.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>搜索引擎优化</menutitle>
    <link>global/global_searchengine.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>安全与防灌水</menutitle>
    <link>global/global_safecontrol.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>注册与访问控制</menutitle>
    <link>global/global_registerandvisit.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>时间段设置</menutitle>
    <link>global/global_timespan.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>积分设置</menutitle>
    <link>global/global_scoreset.aspx</link>
    <frameid>main</frameid>
  </submain>
  <toptabmenu>
    <id>1</id>
    <title>全 局</title>
    <mainmenulist>1</mainmenulist>
    <mainmenuidlist>1010</mainmenuidlist>
    <defaulturl>rapidset/shortcut.aspx</defaulturl>
    <system>1</system>
  </toptabmenu>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>附件设置</menutitle>
    <link>global/global_attach.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>用户权限</menutitle>
    <link>forum/forum_userrights.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>邮箱设置</menutitle>
    <link>global/emailconfig.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>广告管理</menutitle>
    <link>global/advsgrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>论坛公告</menutitle>
    <link>global/global_announcegrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1010</menuparentid>
    <menutitle>论坛帮助</menutitle>
    <link>global/global_helplist.aspx</link>
    <frameid>main</frameid>
  </submain>
  <toptabmenu>
    <id>2</id>
    <title>界 面</title>
    <mainmenulist>3,2,4</mainmenulist>
    <mainmenuidlist>1210,1110,1310</mainmenuidlist>
    <defaulturl>global/global_uiandshowstyle.aspx</defaulturl>
    <system>1</system>
  </toptabmenu>
  <mainmenu>
    <id>2</id>
    <menuid>1110</menuid>
    <menutitle>编辑器</menutitle>
  </mainmenu>
  <mainmenu>
    <id>3</id>
    <menuid>1210</menuid>
    <menutitle>界面风格</menutitle>
  </mainmenu>
  <mainmenu>
    <id>4</id>
    <menuid>1310</menuid>
    <menutitle>其他</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>1110</menuparentid>
    <menutitle>编辑器设置</menutitle>
    <link>global/global_editorset.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1110</menuparentid>
    <menutitle>UBB代码</menutitle>
    <link>forum/forum_bbcodegrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1110</menuparentid>
    <menutitle>表情管理</menutitle>
    <link>forum/forum_smiliemanage.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1210</menuparentid>
    <menutitle>界面与显示方式</menutitle>
    <link>global/global_uiandshowstyle.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1210</menuparentid>
    <menutitle>模板管理</menutitle>
    <link>global/global_templatesgrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1210</menuparentid>
    <menutitle>导航菜单管理</menutitle>
    <link>global/global_navigationmanage.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1210</menuparentid>
    <menutitle>论坛热点</menutitle>
    <link>forum/forum_forumhot.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1310</menuparentid>
    <menutitle>在线列表定制</menutitle>
    <link>global/global_onlinelistgrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1310</menuparentid>
    <menutitle>友情链接列表</menutitle>
    <link>global/global_forumlinksgrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1310</menuparentid>
    <menutitle>勋章列表</menutitle>
    <link>global/global_medalgrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <toptabmenu>
    <id>3</id>
    <title>内 容</title>
    <mainmenulist>5,10</mainmenulist>
    <mainmenuidlist>1410,1910</mainmenuidlist>
    <defaulturl>forum/forum_seachtopic.aspx</defaulturl>
    <system>1</system>
  </toptabmenu>
  <mainmenu>
    <id>5</id>
    <menuid>1410</menuid>
    <menutitle>内容管理</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>1410</menuparentid>
    <menutitle>主题管理</menutitle>
    <link>forum/forum_seachtopic.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1410</menuparentid>
    <menutitle>批量删帖</menutitle>
    <link>forum/forum_searchpost.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1410</menuparentid>
    <menutitle>附件管理</menutitle>
    <link>forum/forum_searchattchment.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1410</menuparentid>
    <menutitle>标签管理</menutitle>
    <link>forum/forum_tagmanage.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1410</menuparentid>
    <menutitle>鉴定管理</menutitle>
    <link>forum/forum_identifymanage.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1410</menuparentid>
    <menutitle>公共短消息管理</menutitle>
    <link>global/global_announceprivatemessage.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1410</menuparentid>
    <menutitle>清理短消息</menutitle>
    <link>forum/forum_searchsm.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1410</menuparentid>
    <menutitle>词语过滤</menutitle>
    <link>global/global_wordgrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1410</menuparentid>
    <menutitle>主题回收站</menutitle>
    <link>forum/forum_auditingtopic.aspx</link>
    <frameid>main</frameid>
  </submain>
  <mainmenu>
    <id>10</id>
    <menuid>1910</menuid>
    <menutitle>审核管理</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>1910</menuparentid>
    <menutitle>审核主题</menutitle>
    <link>forum/forum_auditnewtopic.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1910</menuparentid>
    <menutitle>审核帖子</menutitle>
    <link>forum/forum_auditpost.aspx</link>
    <frameid>main</frameid>
  </submain>
  <toptabmenu>
    <id>4</id>
    <title>用 户</title>
    <mainmenulist>6,7</mainmenulist>
    <mainmenuidlist>1510,1610</mainmenuidlist>
    <defaulturl>user/usergrid.aspx</defaulturl>
    <system>1</system>
  </toptabmenu>
  <mainmenu>
    <id>6</id>
    <menuid>1510</menuid>
    <menutitle>用户管理</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>1510</menuparentid>
    <menutitle>添加用户</menutitle>
    <link>user/adduser.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1510</menuparentid>
    <menutitle>编辑用户</menutitle>
    <link>user/usergrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1510</menuparentid>
    <menutitle>审核新用户</menutitle>
    <link>user/audituser.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1510</menuparentid>
    <menutitle>合并用户</menutitle>
    <link>user/combinationuser.aspx</link>
    <frameid>main</frameid>
  </submain>
  <mainmenu>
    <id>7</id>
    <menuid>1610</menuid>
    <menutitle>分组与级别</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>1610</menuparentid>
    <menutitle>添加用户组</menutitle>
    <link>user/addgroup.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1610</menuparentid>
    <menutitle>编辑用户组</menutitle>
    <link>user/editgroup.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1610</menuparentid>
    <menutitle>合并用户组</menutitle>
    <link>user/combinationusergroup.aspx</link>
    <frameid>main</frameid>
  </submain>
  <toptabmenu>
    <id>5</id>
    <title>聚 合</title>
    <mainmenulist>8</mainmenulist>
    <mainmenuidlist>1710</mainmenuidlist>
    <defaulturl>aggregation/aggregation_forumaggset.aspx</defaulturl>
    <system>1</system>
  </toptabmenu>
  <mainmenu>
    <id>8</id>
    <menuid>1710</menuid>
    <menutitle>论坛聚合</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>1710</menuparentid>
    <menutitle>论坛数据</menutitle>
    <link>aggregation/aggregation_forumaggset.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1710</menuparentid>
    <menutitle>轮显图片</menutitle>
    <link>aggregation/aggregation_rotatepic.aspx?pagename=website</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1710</menuparentid>
    <menutitle>推荐版块</menutitle>
    <link>aggregation/aggregation_recommendtopic.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1710</menuparentid>
    <menutitle>论坛热帖</menutitle>
    <link>aggregation/aggregation_edithottopic.aspx</link>
    <frameid>main</frameid>
  </submain>
  <toptabmenu>
    <id>6</id>
    <title>论 坛</title>
    <mainmenulist>9</mainmenulist>
    <mainmenuidlist>1810</mainmenuidlist>
    <defaulturl>forum/forum_forumstree.aspx</defaulturl>
    <system>1</system>
  </toptabmenu>
  <mainmenu>
    <id>9</id>
    <menuid>1810</menuid>
    <menutitle>版块设置</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>1810</menuparentid>
    <menutitle>版块管理</menutitle>
    <link>forum/forum_forumstree.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1810</menuparentid>
    <menutitle>版块添加</menutitle>
    <link>forum/forum_addforums.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1810</menuparentid>
    <menutitle>合并版块</menutitle>
    <link>forum/forum_forumcombination.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>1810</menuparentid>
    <menutitle>主题分类</menutitle>
    <link>forum/forum_topictypesgrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <toptabmenu>
    <id>7</id>
    <title>扩 展</title>
    <mainmenulist>11,16</mainmenulist>
    <mainmenuidlist>2010,2510</mainmenuidlist>
    <defaulturl>global/global_passportmanage.aspx</defaulturl>
    <system>2</system>
  </toptabmenu>
  <mainmenu>
    <id>11</id>
    <menuid>2010</menuid>
    <menutitle>整合设置</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>2010</menuparentid>
    <menutitle>通行证设置</menutitle>
    <link>global/global_passportmanage.aspx</link>
    <frameid>main</frameid>
  </submain>
  <toptabmenu>
    <id>8</id>
    <title>工 具</title>
    <mainmenulist>12,13,14,15</mainmenulist>
    <mainmenuidlist>2110,2210,2310,2410</mainmenuidlist>
    <defaulturl>global/global_cachemanage.aspx</defaulturl>
    <system>1</system>
  </toptabmenu>
  <mainmenu>
    <id>12</id>
    <menuid>2110</menuid>
    <menutitle>数据库</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>2110</menuparentid>
    <menutitle>运行指定的SQL语句</menutitle>
    <link>global/global_runsql.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2110</menuparentid>
    <menutitle>数据库日志管理</menutitle>
    <link>global/global_logandshrinkdb.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2110</menuparentid>
    <menutitle>分表设置</menutitle>
    <link>global/global_detachtable.aspx</link>
    <frameid>main</frameid>
  </submain>
  <mainmenu>
    <id>13</id>
    <menuid>2210</menuid>
    <menutitle>系统工具</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>2210</menuparentid>
    <menutitle>更新缓存</menutitle>
    <link>global/global_cachemanage.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2210</menuparentid>
    <menutitle>手动调整版块</menutitle>
    <link>forum/forum_forumsgrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2210</menuparentid>
    <menutitle>推广插件设置</menutitle>
    <link>plugin/creditstrategy.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2210</menuparentid>
    <menutitle>计划任务</menutitle>
    <link>global/global_schedulemanage.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2210</menuparentid>
    <menutitle>批量邮件发送</menutitle>
    <link>global/global_usergroupsendemail.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2210</menuparentid>
    <menutitle>批量短消息发送</menutitle>
    <link>global/global_sendsmtogroup.aspx</link>
    <frameid>main</frameid>
  </submain>
  <mainmenu>
    <id>14</id>
    <menuid>2310</menuid>
    <menutitle>论坛维护</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>2310</menuparentid>
    <menutitle>论坛数据维护</menutitle>
    <link>forum/forum_updateforumstatic.aspx</link>
    <frameid>main</frameid>
  </submain>
  <mainmenu>
    <id>15</id>
    <menuid>2410</menuid>
    <menutitle>运行记录</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>2410</menuparentid>
    <menutitle>后台日志</menutitle>
    <link>tools/adminvisitloggrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2410</menuparentid>
    <menutitle>管理日志</menutitle>
    <link>forum/forum_moderatormanagelog.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2410</menuparentid>
    <menutitle>评分日志</menutitle>
    <link>forum/forum_ratescorelog.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2410</menuparentid>
    <menutitle>勋章授予日志</menutitle>
    <link>forum/forum_medalsloggird.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2410</menuparentid>
    <menutitle>积分交易日志</menutitle>
    <link>forum/forum_paymentloggrid.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2210</menuparentid>
    <menutitle>论坛数据调用</menutitle>
    <link>global/global_forumdatacall.aspx</link>
    <frameid>main</frameid>
  </submain>
  <mainmenu>
    <id>16</id>
    <menuid>2510</menuid>
    <menutitle>云平台</menutitle>
  </mainmenu>
  <submain>
    <menuparentid>2510</menuparentid>
    <menutitle>云平台首页</menutitle>
    <link>global/global_cloudindex.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2510</menuparentid>
    <menutitle>云平台设置</menutitle>
    <link>global/global_cloudset.aspx</link>
    <frameid>main</frameid>
  </submain>
  <submain>
    <menuparentid>2510</menuparentid>
    <menutitle>QQ登录设置</menutitle>
    <link>global/global_connectset.aspx</link>
    <frameid>main</frameid>
  </submain>
</dataset>