.editor_tb{height:26px;border:1px solid;border-color:#999 #CCC #CCC #999;background:#F7F7F7;border-bottom:none;}
.editor_tb .y{padding:2px 10px 0 28px;}
	.editor_tb .y img{margin-right:2px;}
	.editor_tb .y a{text-decoration:none;}
.editor_tb div a{float:left;background:url("../../editor/images/editor.gif") no-repeat 0 0;height:20px;line-height:20px;margin:2px 5px 0 0;overflow:hidden;text-indent:-9999px;width:20px;}
.editor_tb div a.tb_bold{background-position:0 0;}
.editor_tb div a.tb_color{background-position:-60px 0;}
.editor_tb div a.tb_img{background-position:0 -20px;}
    .editor_tb div a.tb_upload{background:url("../../editor/images/uploadfile.gif") no-repeat 0 5px;}
.editor_tb div a.tb_link{background-position:-40px -20px;}
.editor_tb div a.tb_quote{background-position:-140px -20px;}
.editor_tb div a.tb_code{background-position:-120px -20px;}
.editor_tb div a.tb_smilies{background-position:-20px -20px;}
.editor_tb div a.tb_imme{background-position:-3px -763px;}
.editor_tb .popupmenu_popup td{padding:0 !important;height:14px;width:14px;}
.editor_tb .popupmenu_popup td div{height:10px;width:10px;cursor:pointer;}
.editor_tb .tb_color input{margin:2px;padding:0px;float:left;cursor:pointer;width:10px;height:10px;border:0;}
#quickpost p, .fastcheck { margin: 5px 0; }
.postarea{border-style:solid;border-width:1px;color:#666;border-color: #999 #CCC #CCC #999; border-top: none;font-size:14px;margin: -2px 0 0;}
	.postinner{padding:6px 0 2px 4px;}
	.postinner textarea{border:0px;width:100%;overflow-y:auto;height:100px;}
	*html .postinner textarea{width:99%;}
/*smile*/
.smilieslist{ overflow:hidden; zoom:1; text-align:center;padding:10px;border:1px solid #7FCAE2;background:#FEFEFE;}
	.smilieslist td{padding:8px;border:none;cursor:pointer;}
	.smilieslist_page{text-align:right;}
	.pags_act{float:left;}
	.pags_act a{display:inline !important;}
	.smilieslist_page a{display:inline;margin:0 4px;color:#09C;text-decoration:underline;}
		.smilieslist_page a.p_curpage{font-weight:700;text-decoration:none;}
	.smilieslist_table{position:absolute;left:-100px;top:0;*top:-1px;width:100px !important;height:100px;border:1px solid #E6E7E1;background:#FFF;}
	.smilieslist_preview{text-align:center;vertical-align:middle;}
	.smiliesgroup ul{margin:6px 0;padding:0 0 24px 8px;border-bottom:1px solid #DDD;}
	.smiliesgroup li{display:inline;}
	.smiliesgroup li a{float:left;margin-right:6px;padding:2px 10px;height:24px;he\ight:19px;border:1px solid #DDD;color:#09C;}
	.smiliesgroup li a.current{border-bottom-color:#FFF;background:#FFF;font-weight:bold;color:#444;}
/*end smile*/
.filebtn {margin: 0 auto;overflow: hidden;position: relative;width: 80px;}
	.filebtn .pf {height:23px;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity:0;position:absolute; right: 0;}
#e_attachlist{height:144px;overflow-y:auto;}
#e_www{height:144px;}
	#e_attachlist table{width:100%;}
	#e_attachlist table td{height:24px;overflow:hidden;line-height:24px;border-bottom:1px dashed #CCC;}
	#e_attachlist .delete_msg a{margin-bottom:-4px;}
.atnu img{height:16px;vertical-align: middle;}
