<tr>
	<th><label for="realname">真实姓名</label></th>
	<td><input name="realname" type="text" id="realname" size="10" class="txt" /></td>
</tr>
<tr>
	<th><label for="idcard">身份证号码</label></th>
	<td><input name="idcard" type="text" id="idcard" size="20" class="txt" /></td>
</tr>
<tr>
	<th><label for="mobile">移动电话号码</label></th>
	<td><input name="mobile" type="text" id="mobile" size="20" class="txt" /></td>
</tr>
<tr>
	<th><label for="phone">固定电话号码</label></th>
	<td><input name="phone" type="text" id="phone" size="20" class="txt" /></td>
</tr>