<%template _header%>
<%if {infloat}!=1%>
<div class="wrap cl pageinfo">
	<div id="nav">
	<%if {usergroupinfo.AllowSearch}%>
		<%template _quicksearch%>
	<%/if%>
		<a href="{config.forumurl}" class="title">{config.forumtitle}</a> &raquo; <strong>密码找回</strong>
	</div>
</div>
<%/if%>
<%if {ispost}%>	
	 <%if {infloat}==1%>
		<%if page_err==0%>
			<script type="text/javascript">
			$('form3').style.display='none';
			$('returngetpwdmessage').className='';
			</script>					
			<div class="msgbox cl" id="succeemessage">
				<div class="msg_inner">
				<p style="margin-bottom:16px;">{msgbox_text}</p>
				<%if {msgbox_url}!=""%>
				<p><a href="javascript:;" onclick="location.reload()" class="xg2">如果长时间没有响应请点击此处</a></p>
				<script type="text/javascript">setTimeout('location.reload()', 3000);</script>
				<%/if%>
				</div>
			</div>
			
			<script>
			$('succeedmessage').style.display='';
			$('succeedmessage').innerHTML=$('succeemessage').innerHTML;
			$('returngetpwdmessage').innerHTML='密码找回';
			</script>	
		<%else%>
			<p>{msgbox_text}</p>
		<%/if%>
	  <%else%>
			<%if page_err==0%>
			<%template _msgbox%>
			<%else%>
			<%template _errmsgbox%>
			<%/if%>	  
	  <%/if%>
<%else%>

<%if {infloat}!=1%>
<div class="wrap cl">
	<div class="blr" id="floatlayout_getpassword">
	<form id="form3" name="form3" method="post" action="getpassword.aspx#">
<%else%>
	<h3 class="flb"><em id="returngetpwdmessage">密码找回</em><span><a href="javascript:;" class="flbc" onclick="hideWindow('getpassword')" title="关闭">关闭</a></span></h3>
	<div id="succeedmessage" class="c cl" style="display:none"></div>
	<form id="form3" name="form3" method="post" onsubmit="javascript:$('form3').action='{rooturl}getpassword.aspx?infloat=1&';ajaxpost('form3', 'returngetpwdmessage', 'returngetpwdmessage', 'onerror');return false;" action="{rooturl}getpassword.aspx?infloat=1&">
<%/if%>
	<div class="c cl">
		<div style="overflow:hidden;overflow-y:auto" class="lgfm">
			<div class="sipt lpsw">
				<label for="findusername">用户名　：</label>
				<input type="text" class="txt" value="{username}" maxlength="20" size="25" autocomplete="off" name="findusername" id="findusername"/>
			</div>
			<div class="sipt lpsw">
				<label for="Email:">Email　：</label>
				<input name="email" type="text" id="email" size="25" class="txt"/>
			</div>
		<%if {isseccode}%>
			<div class="lpsw" style="position: relative;margin-bottom:10px;">
				<%template _vcode%>
			</div>
        <%/if%>
			<div class="ftid sltp" style="margin-bottom:10px">
                <select name="question" id="getpassword_question" change="changequestion();" tabindex="1003">
                    <option value="0">安全提问</option>
                    <option onclick="loadselect_liset('question', 0, 'question','1',this.innerHTML, 1)" value="1" k_id="question">母亲的名字</option>
                    <option onclick="loadselect_liset('question', 0, 'question','2',this.innerHTML, 2)" value="2" k_id="question">爷爷的名字</option>
                    <option onclick="loadselect_liset('question', 0, 'question','3',this.innerHTML, 3)" value="3" k_id="question">父亲出生的城市</option>
                    <option onclick="loadselect_liset('question', 0, 'question','4',this.innerHTML, 4)" value="4" k_id="question">您其中一位老师的名字</option>
                    <option onclick="loadselect_liset('question', 0, 'question','5',this.innerHTML, 5)" value="5" k_id="question">您个人计算机的型号</option>
                    <option onclick="loadselect_liset('question', 0, 'question','6',this.innerHTML, 6)" value="6" k_id="question">您最喜欢的餐馆名称</option>
                    <option onclick="loadselect_liset('question', 0, 'question','7',this.innerHTML, 7)" value="7" k_id="question">驾驶执照的最后四位数字</option>
                </select>
				<script type="text/javascript">
				    simulateSelect('getpassword_question', '214');
				    function changequestion() {
				        if ($('getpassword_question').getAttribute("selecti") != "0") {
				            $('getpassword_answer').style.display = '';
				            $('getpassword_answer').focus();
				        }
				        else {
				            $('getpassword_answer').style.display = 'none';
				        }
				    }
				    function setselect(value) {
				        try {
                            var questionarray = new Array('安全提问','母亲的名字','爷爷的名字','父亲出生的城市','您其中一位老师的名字','您个人计算机的型号','您最喜欢的餐馆名称','驾驶执照的最后四位数字');
                            $('getpassword_question').setAttribute("selecti", value);
                            $('getpassword_question').options[0].value = value;
                            $('getpassword_question_ctrl').innerHTML = questionarray[value];
                            changequestion();
				        }
				        catch (e) {
				        }
				    }
				</script>
			</div>
			<div class="sltp" style="clear:both;"><input type="text" tabindex="6" class="txt" size="36" autocomplete="off" style="display: none;" id="getpassword_answer" name="answer"/></div>
		</div>
		<div class="lgf">
			<h4>没有帐号？
				<%if {infloat}==1%>
				<a href="{rooturl}register.aspx"  onclick="hideWindow('getpassword');showWindow('register', this.href);" class="xg2">立即注册</a>
				<%else%>
				<a href="{rooturl}register.aspx" tabindex="-1" accesskey="r" title="立即注册 (ALT + R)" class="xg2">立即注册</a>
				<%/if%>
			</h4>
			<p>
				<%if {infloat}==1%>
				<a onclick="hideWindow('getpassword');showWindow('login', this.href);" href="{rooturl}login.aspx" class="xg2">现在登录</a>
				<%else%>
				<a href="{rooturl}login.aspx" title="返回登录" class="xg2">返回登录</a>
				<%/if%>
			</p>
		</div>
	</div>
	<p class="fsb pns cl">
		<span id="reginfo_b_btn">
			<button name="login" type="submit" id="login"  tabindex="1"  <%if {infloat}!=1%>onclick="javascript:window.location.replace('?agree=yes')"<%/if%>  class="pn"/><span>取回密码</span></button>
			<button name="cancel" type="button" id="cancel" onclick="javascript:location.replace('/')"  class="pn"/><span>取消</span></button>
		</span>
	</p>
</form>
</div>
<%if {infloat}!=1%>
</div>
</div>
</div>
<%/if%>

<%/if%>
<%template _copyright%>
<%template _footer%>