<%template _header%>
<div class="wrap cl pageinfo">
	<div id="nav">
		<%if {usergroupinfo.AllowSearch}%>
			<%template _quicksearch%>
		<%/if%>
		<a href="{config.forumurl}" class="title">{config.forumtitle}</a> &raquo; <a href="usercpprofile.aspx">用户中心</a> &raquo; <strong>未审核主题</strong>
	</div>
</div>
<div class="wrap uc c1">
	<%template _menu%>
   	<div class="uc_main">
	<div class="uc_content">
		<h1>未审核主题</h1>
		<%template _mymenu%>
	<%if page_err==0%>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="datatable">
		<thead class="colplural">
			<tr>
				<th width="3%">&nbsp;</th>
				<th width="4%">&nbsp;</th>
				<th width="47%">标题</th>
				<th width="20%">所在版块</th>
				<th>最后发表</th>
			</tr>
		</thead>
		<tbody>
		<%loop (Topic) topic topics%>
        <%if {topic.PosterID}=={user.ID}%>
		<tr>
			<td class="t_img">
				<%set {aspxrewriteurl} = this.ShowTopicAspxRewrite({topic.ID},0)%>
				    <a href="{aspxrewriteurl}<%if {config.aspxrewrite}==1%>?<%else%>&<%/if%>invisible=1" target="_blank"><img src="{imagedir}/folder_old.gif" alt="图例"/></a>
			</td>
			<td class="t_img"></td>
			<td><a href="{aspxrewriteurl}<%if {config.aspxrewrite}==1%>?<%else%>&<%/if%>invisible=1" target="_blank">{topic.title}</a></td>
			<td>
				<%set {aspxrewriteurl} = this.ShowForumAspxRewrite({topic.fid},0)%>
				<%set (string){lastpost}=ForumUtils.ConvertDateTime({topic.LastPost})%>	
				<a href="{aspxrewriteurl}" target="_blank">{topic.ForumName}</a>
				</td>
			<td><span class="time"><a href="showtopic.aspx?topicid={topic.ID}&page=end">{lastpost}</a></span> by <%if {topic.LastPosterID}!=-1%><%set {aspxrewriteurl} = this.UserInfoAspxRewrite({topic.LastPosterID})%><a href="{aspxrewriteurl}" target="_blank">{topic.LastPoster}</a><%else%>{topic.LastPoster}<%/if%>
			</td>
		</tr>
        <%/if%>
		<%/loop%>
		</tbody>
		</table>
		<div class="pages_btns">
			<div class="pages">
				{pagenumbers}<em>{pageid}/{pagecount}页</em>
			</div>
		</div>
	<%else%>
		<%template _usercperrmsgbox%>
	<%/if%>
	</div>
	</div>
</div>
<script type="text/javascript">
    function checkCheckBox(form, objtag) {
        for (var i = 0; i < form.elements.length; i++) {
            var e = form.elements[i];
            if (e.name == "pmitemid") {
                e.checked = objtag.checked;
            }
        }
        objtag.checked = !objtag.checked;
    }
</script>
<%template _copyright%>
<%template _footer%>