<%template _header%>
<div class="wrap cl pageinfo">
	<div id="nav">
	<%if {usergroupinfo.AllowSearch}%>
		<%template _quicksearch%>
	<%/if%>
		<a href="{config.forumurl}" class="title">{config.forumtitle}</a> &raquo; <strong>密码重置</strong>
	</div>
</div>
<%if {ispost}%>
	<%if page_err==0%>
		<%template _msgbox%>
	<%else%>
		<%template _errmsgbox%>
	<%/if%>
<%else%>
	<%if page_err==0%>
<div class="wrap cl">
	<div class="blr" id="floatlayout_getpassword">
	<form id="form1" name="form1" method="post" action="setnewpassword.aspx#">	
	<div class="c cl">
	<table cellspacing="0" cellpadding="0" class="formtable" summary="密码重置">
		<tbody>
		<tr>
			<th><label for="newpassword">新密码</label></th>
			<td>
				<input name="newpassword" type="password" id="newpassword" size="25" class="txt"  />
				<input name="uid" type="hidden" id="uid" value="{request[uid]}" />
				<input name="authstr" type="hidden" id="authstr" value="{request[id]}" />
			</td>
		</tr>
		<tr>
			<th><label for="confirmpassword">确认密码</label></th>
			<td><input name="confirmpassword" type="password" id="confirmpassword" size="25" class="txt" ></td>
		</tr>
	<%if {isseccode}%>	
		<tr>
			<th><label for="vcode">验证码</label></th>
			<td>
				<div style="position: relative;">
				<%template _vcode%>
				</div>
		    </td>
		</tr>
	<%/if%>
		<tr>
			<th> </th>
			<td>
				<button name="login" type="submit" id="login" onclick="javascript:location.replace('?agree=yes')" class="pn">确定</button>
				<button name="cancel" type="button" id="cancel" onclick="javascript:location.replace('/')" class="pn">取消</button>
			</td>
		</tr>
		</tbody>
	</table>
	</div>				
</form>
</div>
</div>
<%else%>
	<%template _errmsgbox%>
<%/if%>
<%/if%>
<%template _copyright%>
<%template _footer%>
