<?xml version="1.0" encoding="utf-8"?>
<!--代理匹配配置-->
<AgentConfig>
  <!--Url为匹配请求地址的正则表达式，Target为要重写的目标地址，可以使用$1等匹配项，Name只是标识作用，不参与业务处理-->
  <Agents>
    <Item Agent="\bgoogle\b" Name="谷歌爬虫" />
    <Item Agent="\bGooglebot\-Image\b" Name="谷歌图片" />
    <Item Agent="\bbing\b" Name="Bing爬虫" />
    <Item Agent="\bmsn\b" Name="MSN爬虫" />
    <Item Agent="\bbaidu\b" Name="百度爬虫" />
    <Item Agent="\bYahoo\b" Name="雅虎爬虫" />
    <Item Agent="\b360Spider\b" Name="360爬虫" />
    <Item Agent="\bDNSPod\b" Name="DNSPod监控" />
    <Item Agent="\bAhrefsBot\b" Name="荷兰Ahrefs爬虫" />
    <Item Agent="\byoudao\b" Name="有道订阅" />
    <Item Agent="\bXianguo\b" Name="鲜果订阅" />
    <Item Agent="\bEasouSpider\b" Name="宜搜爬虫" />
    <Item Agent="\bNewsGatorOnline\b" Name="NewsGator订阅" />
    <Item Agent="\bYisouSpider\b" Name="阿里一搜/神马搜索" />
    <Item Agent="\bsogou\b" Name="搜狗爬虫" />
    <Item Agent="\byandex\b" Name="俄罗斯Yandex爬虫" />
  </Agents>
</AgentConfig>