<?xml version="1.0" encoding="utf-8"?>
<!--邮件设置-->
<EmailConfigInfo>
  <Smtp>smtp.qq.com</Smtp>
  <Port>25</Port>
  <Sysemail>nnhy_newlife@qq.com</Sysemail>
  <Username>nnhy_newlife@qq.com</Username>
  <Password>Pass@word</Password>
  <Emailcontent>尊敬的用户:

您好!

    您已在本论坛注册成功, 论坛地址为:{forumurl}

    感谢您使用{forumtitle}的服务, 如果您需要了解更多{forumtitle}相关的信息, 请登录我们的网站: {weburl}
    
    希望您继续支持我们
    
    
{webtitle}</Emailcontent>
  <!--插件名-->
  <PluginName>.Net邮件发送程序</PluginName>
</EmailConfigInfo>