<?xml version="1.0" encoding="utf-8"?>
<!--论坛热帖配置-->
<ForumHotConfigInfo>
  <!--启用-->
  <Enable>true</Enable>
  <!--集合-->
  <ForumHotCollection>
    <ForumHotItemInfo Id="1" Enabled="1" Name="最新主题" Datatype="topics" Sorttype="PostDateTime" Forumlist="" Dataitemcount="13" Forumnamelength="10" Topictitlelength="30" Cachetimeout="60" Datatimetype="Month" />
    <ForumHotItemInfo Id="2" Enabled="1" Name="热门主题" Datatype="topics" Sorttype="Views" Forumlist="" Dataitemcount="13" Forumnamelength="10" Topictitlelength="30" Cachetimeout="180" Datatimetype="Month" />
    <ForumHotItemInfo Id="3" Enabled="1" Name="精华主题" Datatype="topics" Sorttype="Digest" Forumlist="" Dataitemcount="13" Forumnamelength="10" Topictitlelength="30" Cachetimeout="600" Datatimetype="Month" />
    <ForumHotItemInfo Id="4" Enabled="1" Name="用户发帖排行" Datatype="users" Sorttype="posts" Forumlist="" Dataitemcount="20" Forumnamelength="0" Topictitlelength="0" Cachetimeout="600" Datatimetype="" />
    <ForumHotItemInfo Id="5" Enabled="1" Name="版块发帖排行" Datatype="forums" Sorttype="posts" Forumlist="" Dataitemcount="20" Forumnamelength="30" Topictitlelength="0" Cachetimeout="600" Datatimetype="" />
    <ForumHotItemInfo Id="6" Enabled="1" Name="热点图片" Datatype="pictures" Sorttype="id" Forumlist="" Dataitemcount="5" Forumnamelength="0" Topictitlelength="0" Cachetimeout="60" Datatimetype="" />
  </ForumHotCollection>
</ForumHotConfigInfo>