<?xml version="1.0" encoding="utf-8"?>
<!--通用设置-->
<GeneralConfigInfo>
  <Customauthorinfo>bday,posts,credits,gender,joindate|uid,digestposts</Customauthorinfo>
  <Debatepagesize>5</Debatepagesize>
  <!--论坛标题-->
  <Forumtitle>新生命团队</Forumtitle>
  <!--论坛地址-->
  <Forumurl>forumindex.aspx</Forumurl>
  <!--网页标题-->
  <Webtitle>学无先后达者为师</Webtitle>
  <Weburl>http://www.newlifex.com</Weburl>
  <!--授权数-->
  <Licensed>0</Licensed>
  <!--ICP备案号-->
  <Icp>粤ICP备14013259号-3</Icp>
  <!--是否关闭-->
  <Closed>0</Closed>
  <!--关闭原因-->
  <Closedreason>抱歉!论坛暂时关闭,稍后才能访问.</Closedreason>
  <Isframeshow>0</Isframeshow>
  <Admintools>0</Admintools>
  <Indexpage>0</Indexpage>
  <Linktext />
  <Statcode />
  <Passwordkey>X26NVND664</Passwordkey>
  <Regstatus>1</Regstatus>
  <Regadvance>1</Regadvance>
  <Realnamesystem>0</Realnamesystem>
  <Censoruser>admin
管理员
版主
超级版主
胡锦涛
邓小平
江泽民
温家宝
朱镕基
习近平</Censoruser>
  <Doublee>0</Doublee>
  <Regverify>0</Regverify>
  <Accessemail />
  <Censoremail />
  <Hideprivate>0</Hideprivate>
  <Regctrl>8</Regctrl>
  <Ipregctrl />
  <Ipdenyaccess />
  <Ipaccess />
  <Adminipaccess />
  <!--新注册用户发帖时间-->
  <Newbiespan>0</Newbiespan>
  <Welcomemsg>1</Welcomemsg>
  <Welcomemsgtxt>尊敬的用户, 您已经注册成为本论坛的会员, 请您在发表言论时, 遵守当地法律法规. 如果您有什么疑问可以联系管理员.</Welcomemsgtxt>
  <Rules>0</Rules>
  <Rulestxt>1 遵守国家法律法规&lt;br/&gt;
2 遵守所有与网络服务有关的网络协议、规定和程序&lt;br/&gt;
3 不得为任何非法目的而使用网络服务系统</Rulestxt>
  <Secques>1</Secques>
  <Templateid>1</Templateid>
  <Hottopic>15</Hottopic>
  <Starthreshold>2</Starthreshold>
  <Visitedforums>20</Visitedforums>
  <Maxsigrows>5</Maxsigrows>
  <Moddisplay>0</Moddisplay>
  <Subforumsindex>1</Subforumsindex>
  <Stylejump>1</Stylejump>
  <Fastpost>3</Fastpost>
  <Showsignatures>1</Showsignatures>
  <Showavatars>1</Showavatars>
  <Showimages>1</Showimages>
  <Smiliesmax>5</Smiliesmax>
  <Archiverstatus>2</Archiverstatus>
  <Seotitle>新生命开发团队</Seotitle>
  <Seokeywords>新生命开发团队,XCode,XCoder,XTemplate,.Net Micro Framework开发板,探索者,阿波罗,雅典娜</Seokeywords>
  <Seodescription>新生命开发团队，自由职业，程序开发（网络、安全、数据库），物联网模块，工业自动化。</Seodescription>
  <Seohead>&lt;meta property="qc:admins" content="121673166766574165063757" /&gt;</Seohead>
  <Rssstatus>1</Rssstatus>
  <Rssttl>60</Rssttl>
  <Sitemapstatus>1</Sitemapstatus>
  <Sitemapttl>12</Sitemapttl>
  <Nocacheheaders>0</Nocacheheaders>
  <Fullmytopics>1</Fullmytopics>
  <Debug>1</Debug>
  <Rewriteurl />
  <Extname>.aspx</Extname>
  <!--显示在线用户。0不显示1首页2分论坛3首页和分论坛-->
  <Whosonlinestatus>1</Whosonlinestatus>
  <!--最多显示在线人数，默认300-->
  <Maxonlinelist>300</Maxonlinelist>
  <Userstatusby>1</Userstatusby>
  <Forumjump>1</Forumjump>
  <Modworkstatus>1</Modworkstatus>
  <Maxmodworksmonths>3</Maxmodworksmonths>
  <Seccodestatus>register.aspx</Seccodestatus>
  <Guestcachepagetimeout>10</Guestcachepagetimeout>
  <Topiccachemark>100</Topiccachemark>
  <Maxonlines>65535</Maxonlines>
  <!--发帖间隔。秒-->
  <Postinterval>15</Postinterval>
  <!--搜索间隔。秒-->
  <Searchctrl>30</Searchctrl>
  <!--系统在一分钟内搜索的最大次数-->
  <Maxspm>5</Maxspm>
  <Visitbanperiods />
  <!--禁止发帖时间段-->
  <Postbanperiods />
  <Postmodperiods />
  <Attachbanperiods />
  <Searchbanperiods />
  <Memliststatus>1</Memliststatus>
  <Dupkarmarate>0</Dupkarmarate>
  <Minpostsize>5</Minpostsize>
  <Maxpostsize>20000</Maxpostsize>
  <Tpp>20</Tpp>
  <Ppp>10</Ppp>
  <Maxfavorites>100</Maxfavorites>
  <Maxpolloptions>10</Maxpolloptions>
  <Maxattachments>100</Maxattachments>
  <Attachimgpost>1</Attachimgpost>
  <Attachrefcheck>0</Attachrefcheck>
  <Attachsave>1</Attachsave>
  <Watermarkstatus>9</Watermarkstatus>
  <Watermarktype>1</Watermarktype>
  <Watermarktransparency>5</Watermarktransparency>
  <Watermarktext>{3} {4}上传于{1} {2}</Watermarktext>
  <Watermarkpic>water.png</Watermarkpic>
  <Watermarkfontname>Tahoma</Watermarkfontname>
  <Watermarkfontsize>12</Watermarkfontsize>
  <Showattachmentpath>0</Showattachmentpath>
  <Attachimgquality>80</Attachimgquality>
  <Attachimgmaxheight>0</Attachimgmaxheight>
  <Attachimgmaxwidth>0</Attachimgmaxwidth>
  <Reasonpm>1</Reasonpm>
  <Moderactions>1</Moderactions>
  <Karmaratelimit>0</Karmaratelimit>
  <Losslessdel>0</Losslessdel>
  <Edittimelimit>0</Edittimelimit>
  <Editedby>1</Editedby>
  <!--默认编辑器模式，0为论坛代码，1为可视化（默认）-->
  <Defaulteditormode>1</Defaulteditormode>
  <!--是否允许切换编辑器模式，1为允许（默认）-->
  <Allowswitcheditor>1</Allowswitcheditor>
  <Smileyinsert>1</Smileyinsert>
  <CookieDomain />
  <Passwordmode>0</Passwordmode>
  <Bbcodemode>0</Bbcodemode>
  <Fulltextsearch>0</Fulltextsearch>
  <Cachelog>0</Cachelog>
  <!--无动作离线时间，默认10分钟-->
  <Onlinetimeout>-10</Onlinetimeout>
  <DisplayRateCount>30</DisplayRateCount>
  <Reportusergroup>1</Reportusergroup>
  <Photomangegroups>1</Photomangegroups>
  <!--浏览自动生成-->
  <BrowseCreateTemplate>1</BrowseCreateTemplate>
  <Ratevalveset>1,50,200,600,800</Ratevalveset>
  <Topictoblog>1</Topictoblog>
  <Aspxrewrite>1</Aspxrewrite>
  <Viewnewtopicminute>120</Viewnewtopicminute>
  <Specifytemplate>0</Specifytemplate>
  <VerifyImageAssemly />
  <Mytopicsavetime>30</Mytopicsavetime>
  <Mypostsavetime>30</Mypostsavetime>
  <Myattachmentsavetime>30</Myattachmentsavetime>
  <!--是否允许使用标签(Tag)功能-->
  <Enabletag>true</Enabletag>
  <Statscachelife>120</Statscachelife>
  <Forcewww>0</Forcewww>
  <!--使用论坛流量统计-->
  <Statstatus>true</Statstatus>
  <Pvfrequence>60</Pvfrequence>
  <Oltimespan>30</Oltimespan>
  <Recommenddebates />
  <Gpp>16</Gpp>
  <Hottagcount>10</Hottagcount>
  <!--新用户广告强力屏蔽-->
  <DisablePostAD>false</DisablePostAD>
  <!--新用户广告强力屏蔽注册时间-->
  <DisablePostADRegMinute>60</DisablePostADRegMinute>
  <!--新用户广告强力屏蔽发帖数-->
  <DisablePostADPostCount>5</DisablePostADPostCount>
  <!--新用户广告强力屏蔽正则表达式-->
  <DisablePostADRegular>((\d{4}|\d{4}-)?(\d(?:\s*)){7})|((\d{3}|\d{3}-)?\d{8})|(1(?:\s*)[35](?:\s*)[0123456789](?:\s*)(\d(?:\s*)){8})
[qQ](.+?)(\d(?:\s*)){7}</DisablePostADRegular>
  <!--在线列表是否隐藏游客-->
  <WhosOnlineContract>false</WhosOnlineContract>
  <Postnocustom />
  <Iisurlrewrite>0</Iisurlrewrite>
  <Notificationreserveddays>7</Notificationreserveddays>
  <Maxindexsubforumcount>0</Maxindexsubforumcount>
  <!--删除离线用户频率，建议2~10分钟-->
  <DeletingExpiredUserFrequency>5</DeletingExpiredUserFrequency>
  <Replynotificationstatus>1</Replynotificationstatus>
  <Replyemailstatus>1</Replyemailstatus>
  <Disallowfloatwin />
  <Allwoforumindexpost>0</Allwoforumindexpost>
  <!--用户在线表性能优化开关-->
  <Onlineoptimization>1</Onlineoptimization>
  <!--在线用户数统计缓存时间(分钟)-->
  <OnlineUserCountCacheMinute>30</OnlineUserCountCacheMinute>
  <!--使用动态=false/静态=true地址调用头像-->
  <AvatarStatic>false</AvatarStatic>
  <Msgforwardlist>posttopic_succeed,editpost_succeed,postreply_succeed</Msgforwardlist>
  <Quickforward>1</Quickforward>
  <PostTimeStorageMedia>1</PostTimeStorageMedia>
  <Disableshare>1</Disableshare>
  <Sharelist>0|kaixin001|开心|1,1|sina|新浪微博|1,2|renren|人人|1,3|douban|豆瓣|1,4|sohu|白社会|1,5|qq|qq书签|1,6|google|google书签|1,7|vivi|爱问收藏|1,8|live|live收藏|1,9|favorite|收藏夹|1,10|baidu|百度收藏|1</Sharelist>
  <Alipayaccout />
  <Alipaypartnercheckkey />
  <Alipaypartnerid />
  <Tenpayaccout />
  <Tenpaysecretkey />
  <Usealipaycustompartnerid>0</Usealipaycustompartnerid>
  <Usealipayinstantpay>0</Usealipayinstantpay>
  <Cashtocreditrate>1</Cashtocreditrate>
  <Mincreditstobuy>0</Mincreditstobuy>
  <Maxcreditstobuy>1000</Maxcreditstobuy>
  <Userbuycreditscountperday>15</Userbuycreditscountperday>
  <Shownewposticon>1</Shownewposticon>
  <Jqueryurl>/javascript/jquery.js</Jqueryurl>
  <Antispamregisterusername>xu</Antispamregisterusername>
  <Antispamregisteremail>xm</Antispamregisteremail>
  <Antispamposttitle>xt</Antispamposttitle>
  <Antispampostmessage>xmsg</Antispampostmessage>
  <Antispamreplacement />
  <Verifycode />
  <Emaillogin>1</Emaillogin>
  <Ratelisttype>0</Ratelisttype>
  <Swfupload>1</Swfupload>
  <Showimgattachmode>0</Showimgattachmode>
  <Webgarden>1</Webgarden>
  <Allowchangewidth>1</Allowchangewidth>
  <Showwidthmode>0</Showwidthmode>
  <Deletetimelimit>10</Deletetimelimit>
  <DateDiff>1</DateDiff>
  <Verifyregisterexpired>0</Verifyregisterexpired>
  <Verifyregisteremailtemp />
</GeneralConfigInfo>