<?xml version="1.0" encoding="utf-8"?>
<!--邀请设置-->
<InvitationConfigInfo>
  <InviteCodeExpireTime>1</InviteCodeExpireTime>
  <InviteCodeMaxCount>0</InviteCodeMaxCount>
  <InviteCodePayCount>0</InviteCodePayCount>
  <InviteCodePrice>0,0,0,0,0,0,0,0</InviteCodePrice>
  <InvitationLoginUserDescription />
  <InvitationVisitorDescription />
  <InvitationEmailTemplate />
  <InviteCodeMaxCountToBuy>20</InviteCodeMaxCountToBuy>
  <InviteCodeUserCreatePerDay>5</InviteCodeUserCreatePerDay>
</InvitationConfigInfo>