<?xml version="1.0" encoding="utf-8"?>
<!--附件类型设置-->
<MyAttachmentsTypeConfigInfo>
  <attachtypes>
    <AttachmentType>
      <TypeName>图片</TypeName>
      <TypeId>1</TypeId>
      <ExtName>jpg,gif,png,jpeg</ExtName>
    </AttachmentType>
    <AttachmentType>
      <TypeName>压缩包</TypeName>
      <TypeId>2</TypeId>
      <ExtName>zip,rar,xap,7z,exe</ExtName>
    </AttachmentType>
    <AttachmentType>
      <TypeName>文档</TypeName>
      <TypeId>3</TypeId>
      <ExtName>doc,docx,xls,ppt,pdf,xlsx,pptx</ExtName>
    </AttachmentType>
  </attachtypes>
</MyAttachmentsTypeConfigInfo>