<?xml version="1.0" encoding="UTF-8"?>
<menuset>
  <menuitem>
    <menuorder>1</menuorder>
    <text>我的推广</text>
    <href>###</href>
    <onclick><![CDATA[setcopy(this.href.substr(0, this.href.lastIndexOf('/')) + '/plugin/spread/?uid=' + getUserid(), '已经复制到剪贴板，分享此链接给好友得积分');return false;]]></onclick>
    <target>
    </target>
  </menuitem>
</menuset>