<?xml version="1.0" encoding="utf-8"?>
<!--QQ登录配置-->
<QzoneConnectConfigInfo>
  <!--启用QQ登录-->
  <EnableConnect>true</EnableConnect>
  <!--推送到QQ空间-->
  <EnablePushToQzone>true</EnablePushToQzone>
  <!--推送到微博-->
  <EnablePushToWeibo>true</EnablePushToWeibo>
  <!--允许头像-->
  <AllowUseQZAvater>false</AllowUseQZAvater>
  <!--应用Key-->
  <AppKey>100332045</AppKey>
  <!--应用安全码-->
  <AppSecret>84f7ab89affa14d5dd4a237fff4d10fc</AppSecret>
  <!--QQ连接页面-->
  <QzoneConnectPage>QzoneConnect.aspx</QzoneConnectPage>
</QzoneConnectConfigInfo>