<?xml version="1.0" encoding="utf-8"?>
<!--计划任务设置-->
<ScheduleConfigInfo>
  <enabled>true</enabled>
  <events>
    <Event key="TagEvent" time_of_day="-1" minutes="720" type="BBX.Forum.ScheduledEvents.TagsEvent, BBX.Forum" enabled="true" is_system_event="true" />
    <Event key="ForumEvent" time_of_day="1170" minutes="720" type="BBX.Forum.ScheduledEvents.ForumEvent, BBX.Forum" enabled="true" is_system_event="true" />
    <Event key="ScriptEvent" time_of_day="-1" minutes="1" type="BBX.Forum.ScheduledEvents.ScriptEvent, BBX.Forum" enabled="true" is_system_event="true" />
    <Event key="StatEvent" time_of_day="2" minutes="1440" type="BBX.Forum.ScheduledEvents.StatEvent, BBX.Forum" enabled="true" is_system_event="true" />
    <Event key="NoticesEvent" time_of_day="120" minutes="1440" type="BBX.Forum.ScheduledEvents.NoticesEvent, BBX.Forum" enabled="true" is_system_event="true" />
    <Event key="AttachmentEvent" time_of_day="2" minutes="1440" type="BBX.Forum.ScheduledEvents.AttachmentEvent, BBX.Forum" enabled="true" is_system_event="true" />
    <Event key="InvitationEvent" time_of_day="2" minutes="1" type="BBX.Forum.ScheduledEvents.InvitationEvent, BBX.Forum" enabled="true" is_system_event="true" />
  </events>
  <minutes_interval>1</minutes_interval>
</ScheduleConfigInfo>