<?xml version="1.0" standalone="yes"?>
<scoreset>
  <record>
    <id>1</id>
    <name>积分名称</name>
    <extcredits1>威望</extcredits1>
    <extcredits2>金钱</extcredits2>
    <extcredits3 />
    <extcredits4 />
    <extcredits5 />
    <extcredits6 />
    <extcredits7 />
    <extcredits8 />
  </record>
  <record>
    <id>2</id>
    <name>积分单位</name>
    <extcredits1 />
    <extcredits2>元</extcredits2>
    <extcredits3 />
    <extcredits4 />
    <extcredits5 />
    <extcredits6 />
    <extcredits7 />
    <extcredits8 />
  </record>
  <record>
    <id>3</id>
    <name>兑换比率</name>
    <extcredits1>5</extcredits1>
    <extcredits2>15</extcredits2>
    <extcredits3>0</extcredits3>
    <extcredits4>0</extcredits4>
    <extcredits5>0</extcredits5>
    <extcredits6>0</extcredits6>
    <extcredits7>0</extcredits7>
    <extcredits8>0</extcredits8>
  </record>
  <record>
    <id>4</id>
    <name>注册初始积分</name>
    <extcredits1>10</extcredits1>
    <extcredits2>10</extcredits2>
    <extcredits3>0</extcredits3>
    <extcredits4>0</extcredits4>
    <extcredits5>0</extcredits5>
    <extcredits6>0</extcredits6>
    <extcredits7>0</extcredits7>
    <extcredits8>0</extcredits8>
  </record>
  <record>
    <id>7</id>
    <name>发主题</name>
    <extcredits1>5</extcredits1>
    <extcredits2>5</extcredits2>
    <extcredits3>0</extcredits3>
    <extcredits4>0</extcredits4>
    <extcredits5>0</extcredits5>
    <extcredits6>0</extcredits6>
    <extcredits7>0</extcredits7>
    <extcredits8>0</extcredits8>
  </record>
  <record>
    <id>8</id>
    <name>回复</name>
    <extcredits1>1</extcredits1>
    <extcredits2>1</extcredits2>
    <extcredits3>0</extcredits3>
    <extcredits4>0</extcredits4>
    <extcredits5>0</extcredits5>
    <extcredits6>0</extcredits6>
    <extcredits7>0</extcredits7>
    <extcredits8>0</extcredits8>
  </record>
  <record>
    <id>9</id>
    <name>加精华</name>
    <extcredits1>20</extcredits1>
    <extcredits2>20</extcredits2>
    <extcredits3>0</extcredits3>
    <extcredits4>0</extcredits4>
    <extcredits5>0</extcredits5>
    <extcredits6>0</extcredits6>
    <extcredits7>0</extcredits7>
    <extcredits8>0</extcredits8>
  </record>
  <record>
    <id>10</id>
    <name>上传附件</name>
    <extcredits1>5</extcredits1>
    <extcredits2>5</extcredits2>
    <extcredits3>0</extcredits3>
    <extcredits4>0</extcredits4>
    <extcredits5>0</extcredits5>
    <extcredits6>0</extcredits6>
    <extcredits7>0</extcredits7>
    <extcredits8>0</extcredits8>
  </record>
  <record>
    <id>11</id>
    <name>下载附件</name>
    <extcredits1>0</extcredits1>
    <extcredits2>0</extcredits2>
    <extcredits3>0</extcredits3>
    <extcredits4>0</extcredits4>
    <extcredits5>0</extcredits5>
    <extcredits6>0</extcredits6>
    <extcredits7>0</extcredits7>
    <extcredits8>0</extcredits8>
  </record>
  <record>
    <id>12</id>
    <name>发短消息</name>
    <extcredits1>0</extcredits1>
    <extcredits2>1</extcredits2>
    <extcredits3>0</extcredits3>
    <extcredits4>0</extcredits4>
    <extcredits5>0</extcredits5>
    <extcredits6>0</extcredits6>
    <extcredits7>0</extcredits7>
    <extcredits8>0</extcredits8>
  </record>
  <record>
    <id>13</id>
    <name>搜索</name>
    <extcredits1>0</extcredits1>
    <extcredits2>1</extcredits2>
    <extcredits3>0</extcredits3>
    <extcredits4>0</extcredits4>
    <extcredits5>0</extcredits5>
    <extcredits6>0</extcredits6>
    <extcredits7>0</extcredits7>
    <extcredits8>0</extcredits8>
  </record>
  <record>
    <id>16</id>
    <name>交易成功</name>
    <extcredits1>0</extcredits1>
    <extcredits2>0</extcredits2>
    <extcredits3>0</extcredits3>
    <extcredits4>0</extcredits4>
    <extcredits5>0</extcredits5>
    <extcredits6>0</extcredits6>
    <extcredits7>0</extcredits7>
    <extcredits8>0</extcredits8>
  </record>
  <record>
    <id>17</id>
    <name>参与投票</name>
    <extcredits1>1</extcredits1>
    <extcredits2>1</extcredits2>
    <extcredits3>0</extcredits3>
    <extcredits4>0</extcredits4>
    <extcredits5>0</extcredits5>
    <extcredits6>0</extcredits6>
    <extcredits7>0</extcredits7>
    <extcredits8>0</extcredits8>
  </record>
  <record>
    <id>18</id>
    <name>邀请注册</name>
    <extcredits1>5</extcredits1>
    <extcredits2>5</extcredits2>
    <extcredits3>0</extcredits3>
    <extcredits4>0</extcredits4>
    <extcredits5>0</extcredits5>
    <extcredits6>0</extcredits6>
    <extcredits7>0</extcredits7>
    <extcredits8>0</extcredits8>
  </record>
  <formula>
    <fid>1</fid>
    <formulacontext>extcredits1+posts+digestposts*5</formulacontext>
    <creditstrans>1</creditstrans>
    <topicattachcreditstrans>1</topicattachcreditstrans>
    <bonuscreditstrans>1</bonuscreditstrans>
    <creditstax>0.2</creditstax>
    <transfermincredits>1</transfermincredits>
    <exchangemincredits>1</exchangemincredits>
    <maxincperthread>100</maxincperthread>
    <maxchargespan>0</maxchargespan>
  </formula>
</scoreset>