<?xml version="1.0" encoding="utf-8" ?> 
<urls>
     <rewrite name="showforum"
          path="/showforum-{0}-{1}.aspx"
          pattern = "/showforum-(\d+)(-(\d+))?.aspx"
          page="/showforum.aspx"
          querystring="forumid=$1^page=$3" />
    <rewrite name="showtopic"
          path="/showtopic-{0}-{1}.aspx"
          pattern = "/showtopic-(\d+)(-(\d+))?.aspx"
          page="/showtopic.aspx"
          querystring="topicid=$1^page=$3" />
    <rewrite name="userinfo"
          path="/userinfo-{0}.aspx"
          pattern = "/userinfo-(\d+)*.aspx"
          page="/userinfo.aspx"
          querystring="userid=$1" />
     <rewrite name="rss"
          path="/rss-{0}.aspx"
          pattern = "/rss-(\d+)?.aspx"
          page="/rss.aspx"
          querystring="forumid=$1" />
     <rewrite name="spacerss"
          path="/spacerss-{0}.aspx"
          pattern="/spacerss(-(\d+))?.aspx(\?.*?)?"
          page="/rss.aspx"
          querystring="uid=$2^type=space" />
     <rewrite name="photorss"
          path="/photorss-{0}.aspx"
          pattern="/photorss(-(\d+))?.aspx(\?.*?)?"
          page="/rss.aspx"
          querystring="uid=$2^type=photo" />
     <rewrite name="postgoods"
         path="/postgoods-{0}.aspx"
         pattern = "/postgoods-(\d+)*.aspx"
         page="/postgoods.aspx"
         querystring="categoryid=$1" />
    <rewrite name="showgoodslist"
        path="/showgoodslist-{0}-{1}.aspx"
         pattern = "/showgoodslist-(\d+)(-(\d+))?.aspx"
         page="/showgoodslist.aspx"
         querystring="categoryid=$1^page=$3" />
    <rewrite name="mallgoodslist"
        path="/mallgoodslist-{0}-{1}.aspx"
         pattern = "/mallgoodslist-(\d+)(-(\d+))?.aspx"
         page="/mallgoodslist.aspx"
         querystring="categoryid=$1^page=$3" />
    <rewrite name="showgoods"
          path="/showgoods-{0}.aspx"
          pattern = "/showgoods-(\d+)*.aspx"
          page="/showgoods.aspx"
          querystring="goodsid=$1" />
    <rewrite name="topictag"
        path="/topictag-{0}.aspx"
         pattern = "/topictag-(\d+)?.aspx"
         page="/tags.aspx"
         querystring="tagid=$1^t=topic" />
    <rewrite name="spacetag"
        path="/spacetag-{0}.aspx"
         pattern = "/spacetag-(\d+)?.aspx"
         page="/tags.aspx"
         querystring="tagid=$1^t=spacepost" />
    <rewrite name="phototag"
        path="/phototag-{0}.aspx"
         pattern = "/phototag-(\d+)?.aspx"
         page="/tags.aspx"
         querystring="tagid=$1^t=photo" />
	<rewrite name="showphoto"
		  path="/showphoto-{0}.aspx"
		  pattern = "/showphoto-(\d+)?.aspx"
		  page="/showphoto.aspx"
		  querystring="photoid=$1" />
	<rewrite name="showalbum"
		  path="/showalbum-{0}.aspx"
		  pattern = "/showalbum-(\d+)?.aspx"
		  page="/showalbum.aspx"
		  querystring="albumid=$1" />
	<rewrite name="showbonus"
		  path="/showbonus-{0}.aspx"
		  pattern = "/showbonus-(\d+)?.aspx"
		  page="/showbonus.aspx"
		  querystring="topicid=$1" />
	<rewrite name="malltag"
        path="/malltag-{0}.aspx"
         pattern = "/malltag-(\d+)?.aspx"
         page="/tags.aspx"
         querystring="tagid=$1^t=mall" />
	<rewrite name="showdebate"
        path="/showdebate-{0}.aspx"
         pattern = "/showdebate-(\d+)?.aspx"
         page="/showdebate.aspx"
         querystring="topicid=$1" />

</urls>